{% load static %}
<! DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    </head>
    <body>
        <nav>
            <div style="background-color: black; height:25px;">
                {% if user.is_authenticated %}
                <a style = "color:white;" href="{% url 'notes.list' %}">View notes</a>
                <a style = "color:white;" href="{% url 'notes.new' %}">Create note</a>
                <a style = "color:white;" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a style = "color:white;" href="{% url 'login' %}">Login</a>
                <a style = "color:white;" href="{% url 'signup' %}">Signup</a>
                {% endif %}
                
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>